html{
  width: 100%;
  height: 100%;
}
body {
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing:antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
header{
  height: 70px;
  line-height: 70px;
  background-color:#354661;
  color: #fff;
  font-size: 24px;
  clear: both;
  .logo{
    float: left;
    width:20%;
    text-align: center;
    font-size: 30px;
    height: 70px;
    background-color: #293950;
    a{
      text-decoration: none;
      color: #fff;
    }
  }
  .hd{
    height: 70px;
    float: left;
    width: 75%;
    padding-left: 5%;
    display: inline-block;
  }
}
aside{
  height: 100%;
  min-height: 1000px;
  background-color: #354661;
  color: #fff;
  width: 20%;
  float: left;
  ul{
    padding: 0;
    margin: 30px 0 0 0;
  }
  ul li{
    list-style: none;
  }
  a{
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    &.active{
      border-left: 8px solid #00A3FE;
      padding-left: 12px;
      background-color: #293950;
      color:#fff;
    }
  }
}
main{
  height: 100%;
  min-height: 1000px;
  background-color: #D6DBE7;
  width: 80%;
  float: left;
}
