html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Fira Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px; }

header {
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  font-size: 24px;
  clear: both; }
  header .logo {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 30px;
    height: 70px;
    background-color: #25292A;
    border-bottom: 1px solid #454A4B; }
    header .logo a {
      text-decoration: none;
      color: #EA7F31; }
  header .hd {
    height: 70px;
    float: left;
    width: 75%;
    padding-left: 5%;
    display: inline-block;
    border-bottom: 1px solid #EBEDED; }

aside {
  height: 100%;
  min-height: 1000px;
  background-color: #2F3436;
  width: 20%;
  float: left; }
  aside ul {
    padding: 0;
    margin: 30px 0 0 0; }
  aside ul li {
    list-style: none; }
  aside a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: #D1D6D8;
    height: 50px;
    line-height: 50px;
    padding-left: 5%; }
    aside a.active {
      background-color: #F3F5F5;
      color: #545D5F; }

main {
  height: 100%;
  min-height: 1000px;
  background-color: #F3F5F5;
  width: 80%;
  float: left; }
  main .main-wrapper {
    padding: 30px; }

.users-wrapper, .orders-wrapper {
  border: 1px solid #EBEDED;
  border-radius: 5px;
  background-color: #fff; }
  .users-wrapper h2, .orders-wrapper h2 {
    margin: 0;
    font-size: 18px;
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #EBEDED; }
  .users-wrapper .main, .orders-wrapper .main {
    padding: 30px; }
    .users-wrapper .main table, .orders-wrapper .main table {
      width: 100%;
      border-collapse: collapse; }
    .users-wrapper .main table thead, .orders-wrapper .main table thead {
      border-radius: 5px;
      background-color: #CAD3D6; }
    .users-wrapper .main table th, .orders-wrapper .main table th {
      height: 35px;
      line-height: 35px;
      color: #fff; }
    .users-wrapper .main table td, .orders-wrapper .main table td {
      text-align: center;
      height: 55px;
      line-height: 55px; }
      .users-wrapper .main table td button, .orders-wrapper .main table td button {
        cursor: pointer;
        padding: 0 10px;
        height: 33px;
        border: none;
        border-radius: 3px;
        background-color: #E36E40;
        color: #fff; }
