html {
  width: 100%;
  height: 100%; }

body {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px; }

header {
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  font-size: 24px; }
  header .logo {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 30px;
    height: 70px;
    background-color: #25292A;
    color: #EA7F31; }
  header .hd {
    height: 70px;
    width: 75%;
    padding-left: 5%;
    display: inline-block; }

aside {
  height: 100%;
  min-height: 1000px;
  background-color: #2F3436;
  width: 20%;
  float: left; }
  aside ul {
    padding: 0;
    margin: 30px 0 0 0; }
  aside ul li {
    list-style: none; }
  aside a {
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: #D1D6D8;
    height: 50px;
    line-height: 50px;
    padding-left: 5%; }
    aside a.active {
      background-color: #F3F5F5;
      color: #545D5F; }

main {
  height: 100%;
  min-height: 1000px;
  background-color: #F3F5F5;
  text-align: center;
  width: 80%;
  float: left; }
