.users-wrapper, .orders-wrapper {
  border: 1px solid #EBEDED;
  border-radius: 5px;
  background-color: #fff; }
  .users-wrapper h2, .orders-wrapper h2 {
    margin: 0;
    font-size: 18px;
    padding: 0 30px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #EBEDED; }
  .users-wrapper .main, .orders-wrapper .main {
    padding: 30px; }
    .users-wrapper .main table, .orders-wrapper .main table {
      width: 100%;
      border-collapse: collapse; }
    .users-wrapper .main table thead, .orders-wrapper .main table thead {
      border-radius: 5px;
      background-color: #CAD3D6; }
    .users-wrapper .main table th, .orders-wrapper .main table th {
      height: 35px;
      line-height: 35px;
      color: #fff; }
    .users-wrapper .main tbody tr, .orders-wrapper .main tbody tr {
      border-bottom: 1px solid #F0F0F0; }
      .users-wrapper .main tbody tr:last-child, .orders-wrapper .main tbody tr:last-child {
        border-bottom: none; }
    .users-wrapper .main tbody td, .orders-wrapper .main tbody td {
      text-align: center;
      height: 55px;
      line-height: 55px; }
      .users-wrapper .main tbody td input[type="text"], .users-wrapper .main tbody td select, .orders-wrapper .main tbody td input[type="text"], .orders-wrapper .main tbody td select {
        font-size: 16px;
        height: 28px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid #C7C7C7;
        text-align: center;
        background-color: #fff; }
      .users-wrapper .main tbody td select, .orders-wrapper .main tbody td select {
        width: 80px;
        height: 30px; }
      .users-wrapper .main tbody td button, .orders-wrapper .main tbody td button {
        cursor: pointer;
        width: 60px;
        height: 33px;
        border: none;
        border-radius: 3px;
        color: #fff; }
      .users-wrapper .main tbody td .editing-btn, .orders-wrapper .main tbody td .editing-btn {
        background-color: #4A913C; }
      .users-wrapper .main tbody td .edit-btn, .orders-wrapper .main tbody td .edit-btn {
        background-color: #E8604A; }
      .users-wrapper .main tbody td .del-btn, .orders-wrapper .main tbody td .del-btn {
        margin-left: 5px;
        background-color: #e81c4f; }

.pager {
  margin-top: 40px;
  text-align: center; }
  .pager a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #c7c7c7;
    background: #fff;
    width: 46px;
    height: 46px;
    line-height: 46px;
    margin-right: 25px; }
    .pager a:last-child {
      margin-right: 0px; }
